*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(82, 14, 146);
}

body{
    background-color: rgb(190, 225, 197);
}

h3{
    padding-top: 5px;
    text-align: left;
}

td, th{
    border: 4px solid rgb(217, 131, 131);
    padding: 6px;
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 5px;
    margin-bottom: 20px;
}

#glavniDiv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        align-content: flex-start;
    
}

div input{
    margin-top: 25px;
    margin-bottom: 10px;
}